.home-container {
    text-align: center;
    padding: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .home-container h2 {
    font-size: 68px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .profile {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .icon-link {
    text-decoration: none;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
  }
  
  .logout-btn {
    background-color: #ff4757;
    color: white;
    padding: 10px 20px;
    font-size: 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #cc2a3a;
  }
  